#contenedor{
    background-color: blueviolet;
    width: 60%;
    height: 500px;
    margin: 0 auto;
}

#verde{
    background-color: green;
    height: 20%;
    width: 94%;
    margin-bottom: 20px;
}

#celeste{
    background-color: lightblue;
    height: 20%;
    width: 94%;
    margin-bottom: 20px;
}

#amarillo{
    background-color: yellow;
    height: 20%;
    width: 94%;
    margin-bottom: 20px;
}