p{
    color: whitesmoke;
    font-family: 'Quicksand', sans-serif;
    background-color: blueviolet;
    background: #a625be;

}

h1{
    color: violet;
    background-color: blueviolet;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: xx-large;
    box-shadow: -2px 4px 51px 19px rgba(17,1,38,0.84);
-webkit-box-shadow: -2px 4px 51px 19px rgba(17,1,38,0.84);
-moz-box-shadow: -2px 4px 51px 19px rgba(17,1,38,0.84);
border: 40px ridge #4f1f6b;
}

h2{
    color: violet;
    font-family: 'Quicksand', sans-serif;
    border-radius: 0px 83px 76px 0px;
-webkit-border-radius: 0px 83px 76px 0px;
-moz-border-radius: 0px 83px 76px 0px;
border: 11px solid rgba(11,0,52,0.7);
}

ul{
    color: white;
    background-color: blueviolet;
    font-family: 'Quicksand', sans-serif;

}

ol{
    color: white;
    background-color: blueviolet;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(90deg,#a625be 0%, #fb0909 80%);
    background: -webkit-linear-gradient(90deg,#a625be 0%, #fb0909 80%);
    background: -moz-linear-gradient(90deg,#a625be 0%, #fb0909 80%);

}

li{
    font-family: 'Quicksand', sans-serif;
}
.destacado{
    color: aqua;
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
}

#caja1{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,fd89d7+51,ff7cd8+100;Pink+Gloss+%232 */
background: rgb(252,236,252); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */

}

#caja2{
    background: #a625be;
    background: linear-gradient(90deg,#a625be 0%, #fb0909 80%);
    background: -webkit-linear-gradient(90deg,#a625be 0%, #fb0909 80%);
    background: -moz-linear-gradient(90deg,#a625be 0%, #fb0909 80%);

}


